.content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(240, 242, 247);
}

.item {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.halfItem {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 0px 0.5rem;
}
.itemTitle {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;
  padding: 0.5rem;
}

.itemLeft {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 100px);
  padding: 0.5rem;
}
.itemLeft > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.esLink {
  color: rgb(12, 108, 242);
  font-family: Inter;
  text-decoration: none;
  font-feature-settings: "calt" 0;
}
.divRight {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.des {
  font-family: Inter;
  font-feature-settings: "calt" 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  opacity: 1;
}
.freeContent {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}
.freeContentItem {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  opacity: 1;
  text-align: start;
}
.freeContentOther {
  display: flex;
  flex-direction: column;
}

.greenBg {
  display: block;
  padding: 0.25rem;
  color: rgb(0, 135, 90);
  background: rgb(209, 240, 219);
  border: 1px solid rgb(209, 240, 219);
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content !important;
}
.inputContent {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.inputContentDesc {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.inputContentDesc > :not(:last-child) {
  margin-bottom: 5px;
}
.inputItem {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.inputItem > :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  max-width: 350px;
  width: 100%;
}
.inputItemDes {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.inputItemDes > :first-child {
  margin-right: 5px;
}
.bollIcon {
  fill: rgb(61, 137, 245);
}
.transIcon {
  width: 24px;
  height: 24px;
  fill: rgb(51, 159, 123);
}
.outContent {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.outItem {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.outItemRight {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
